{% extends "app/base.html" %} {% load static %} 

{% block banner_slider %}


<div
<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner-2.png' %}"
        class="d-block w-100 "
        alt="..."
      />
    </div>
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner-3.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner-1.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
{% endblock banner_slider %}

{% block main-content %}
<div class='container mt-3'>
  <br>
  <h2 class='text-center'>About Us</h2>
  <br>
  <div class='row container'>
    <p class='fs-4 text-center'>
      This is a public limited companu having its reputation in the city of Chattogram in Bangladesh. The company was incoporated in the 2024 and production commenced in 20023.
      This is one of the fastest growing public listed company of Bangladesh.
    </p>
  </div>
  <h2 class='text-center'>Mission</h2>
  <br>
  <div class='row container'>
    <p class='fs-4 text-center'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos explicabo dolore quasi qui, enim error ex commodi doloremque assumenda nobis officia ad tenetur molestiae aliquam architecto culpa sunt odio consequatur.
      Fugit a sit voluptates nisi quam officiis dolorum numquam deserunt temporibus labore maiores itaque ullam, atque molestias nulla facere. Earum velit ratione sunt culpa ducimus nisi! Minima magni excepturi voluptas.
    </p>
  </div>
</div>
<br><br>

{% endblock main-content %}