{% extends "app/base.html" %} {% load static %} {% block banner_slider %}


<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner-2.png' %}"
        class="d-block w-100 "
        alt="..."
      />
    </div>
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner-3.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner-1.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
{% endblock banner_slider %}

{% block information %}
  <div class='container'>
    <div class='row bg-dark text-center p-5 my-5 text-white border-bottom shadow'>
      <h1>Products</h1>
      <small class='fs-5'       >
        Enhance and protect your devices with our premium range of smartphone, laptop, and gadget accessories. Designed to combine style, durability, and functionality, our collection includes everything you need to complement your tech lifestyle. Whether you're looking for sleek phone cases, tempered glass screen protectors, or durable laptop sleeves, we have options tailored for all major brands and models. Stay powered up with our reliable chargers, and explore innovative gadgets to make everyday tasks more convenient. With affordable pricing and top-quality materials, our accessories are the perfect blend of practicality and elegance, ensuring your devices are always secure, stylish, and ready to perform.
      </small>
    </div>

  </div>
  {% endblock information %}
{% block main-content %}
  <div class="container">
    <h1 class="text-center">Our Products</h1>
    <br><br>
    <div class=" container row">
      <div class="col-md-4 col-sm-4 mi-go wow fadeinup" data-wow-duration="1s"     data-wow-delay=".6s" style="animation-duration: 1s; animation-delay: .6s; animation-name: none;">
        <div class="goodnesssec buttermilk smbg" >
          <a href="{% url 'category' 'CR' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static 'app/images/product/phone.jpeg' %}" class="img-responsive center-block">
              <p class="mlkpro">Smartphone</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 mi-go wow fadeinup" data-wow-duration="1s" data-wow-delay=".6s" style="animation-duration: 1s; animation-delay: .6s; animation-name: none;">
        <div class="goodnesssec buttermilk curdbgpro" >
          <a href="{% url 'category' 'ML' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static 'app/images/product/laptop.jpeg' %}" class="img-responsive center-block">
              <p class="mlkpro">Laptop</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mi-go wow fadeinup" data-wow-duration="1s" data-wow-delay=".6s" style="animation-duration: 1s; animation-delay: .6s; animation-name: none;">
        <div class="goodnesssec buttermilk smbg" >
          <a href="{% url 'category' 'LS' %}">
            <div class="goodnessseccont text-center">
              <img src="{% static 'app/images/product/tab.png' %}" class="img-responsive center-block">
              <p class="mlkpro">Tablet</p>
            </div>
          </a>
        </div>
      </div>
    </div>

   <br/> <br/>
   <div class=" container row">
    <div class="col-md-4 col-sm-4 mi-go wow fadeinup" data-wow-duration="1s"     data-wow-delay=".6s" style="animation-duration: 1s; animation-delay: .6s; animation-name: none;">
      <div class="goodnesssec buttermilk smbg" >
        <a href="{% url 'category' 'MS' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static 'app/images/product/gadget.png' %}" class="img-responsive center-block">
            <p class="mlkpro">Gadget</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 mi-go wow fadeinup" data-wow-duration="1s" data-wow-delay=".6s" style="animation-duration: 1s; animation-delay: .6s; animation-name: none;">
      <div class="goodnesssec buttermilk curdbgpro" >
        <a href="{% url 'category' 'PN' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static 'app/images/product/acc.jpeg' %}" class="img-responsive center-block">
            <p class="mlkpro">Accessories</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mi-go wow fadeinup" data-wow-duration="1s" data-wow-delay=".6s" style="animation-duration: 1s; animation-delay: .6s; animation-name: none;">
      <div class="goodnesssec buttermilk smbg" >
        <a href="{% url 'category' 'GH' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static 'app/images/product/console.png' %}" class="img-responsive center-block">
            <p class="mlkpro">Console</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
  <br><br>
{% endblock main-content %}

